{% extends 'base.html.twig' %}

{% block body %}

    <!--Main Navigation-->
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><strong>Auto Vente</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('addCar') }}">Vendre mon véhicule</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="view intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-indigo-slight flex-center">
                    <div class="container">
                        <div class="text-center wow fadeInUp">
                            <form action="{{ path('search') }}" class="card col-md-4 py-4">
                                <h3 class="font-weight-bolder">Rechercher une marque, un modèle...</h3>
                                <div class="form-group">
                                    <input type="search" class="form-control" name="search" id="model" placeholder="ex: Clio">
                                </div>
                                <input type="submit" class="btn btn-danger" value="Rechercher">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--Main Navigation-->

    <!--Main Layout-->
    <main class="text-center py-5 mt-3">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
            </div>
        </div>

    </main>
    <!--Main Layout-->
{% endblock %}